In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [1465]:
Preprocess_Day_1_Nutrition_df = pd.read_sas(filepath_or_buffer = 'DR1TOT_E.XPT')
Preprocess_Day_2_Nutrition_df = pd.read_sas(filepath_or_buffer = 'DR2TOT_E.XPT')

In [1466]:
day_1_nutrient_columns = ['SEQN','DR1TKCAL', 'DR1TPROT', 'DR1TCARB', 'DR1TSUGR', 'DR1TFIBE', 'DR1TTFAT', 'DR1TSFAT',
                          'DR1TMFAT', 'DR1TPFAT', 'DR1TCHOL', 'DR1TATOC', 'DR1TATOA', 'DR1TRET', 'DR1TVARA', 'DR1TACAR',
                          'DR1TBCAR', 'DR1TCRYP', 'DR1TLYCO', 'DR1TLZ', 'DR1TVB1', 'DR1TVB2', 'DR1TNIAC', 'DR1TVB6',
                          'DR1TFOLA', 'DR1TFA', 'DR1TFF', 'DR1TFDFE', 'DR1TCHL', 'DR1TVB12', 'DR1TB12A', 'DR1TVC',
                          'DR1TVK', 'DR1TCALC', 'DR1TPHOS', 'DR1TMAGN', 'DR1TIRON', 'DR1TZINC', 'DR1TCOPP',
                          'DR1TSODI', 'DR1TPOTA', 'DR1TSELE', 'DR1TCAFF', 'DR1TTHEO', 'DR1TALCO', 'DR1TMOIS',
                          'DR1TS040', 'DR1TS060', 'DR1TS080', 'DR1TS100', 'DR1TS120', 'DR1TS140', 'DR1TS160', 
                          'DR1TS180', 'DR1TM161', 'DR1TM181', 'DR1TM201', 'DR1TM221', 'DR1TP182', 'DR1TP183',
                          'DR1TP184', 'DR1TP204', 'DR1TP205', 'DR1TP225', 'DR1TP226', 'DR1_320Z']

In [1467]:
Day_1_Nutrition_df = Preprocess_Day_1_Nutrition_df[day_1_nutrient_columns]

In [1468]:
Day_1_Nutrition_df.isnull().values.any()
Day_1_Nutrition_df.head()

,SEQN,DR1TKCAL,DR1TPROT,DR1TCARB,DR1TSUGR,DR1TFIBE,DR1TTFAT,DR1TSFAT,DR1TMFAT,DR1TPFAT,...,DR1TM201,DR1TM221,DR1TP182,DR1TP183,DR1TP184,DR1TP204,DR1TP205,DR1TP225,DR1TP226,DR1_320Z
0,41475.0,1598.0,62.78,192.19,83.35,10.0,65.64,25.112,24.090,8.543,...,0.169,0.002,7.155,0.737,5.397605e-79,0.205,4.000000e-03,5.397605e-79,4.100000e-02,1.007250e+03
1,41476.0,2093.0,69.38,276.93,167.71,14.4,82.47,22.093,27.767,24.954,...,0.164,0.002,22.441,2.241,5.397605e-79,0.112,3.000000e-03,5.397605e-79,2.300000e-02,2.370000e+02
2,41477.0,914.0,40.90,94.78,18.25,5.6,42.56,10.381,15.113,13.189,...,0.135,0.002,11.509,1.498,5.397605e-79,0.134,3.000000e-03,5.397605e-79,3.100000e-02,5.397605e-79
3,41478.0,1148.0,38.52,161.69,92.13,10.7,40.25,17.169,14.081,4.783,...,0.101,0.007,4.129,0.605,5.397605e-79,0.030,5.397605e-79,5.397605e-79,5.397605e-79,1.481300e+02
4,41479.0,2910.0,138.85,319.65,123.06,32.7,125.96,31.658,56.788,28.074,...,0.788,0.010,25.171,1.414,1.100000e-02,0.291,5.070000e-01,9.000000e-02,4.370000e-01,7.110000e+02

In [1469]:
day_2_nutrient_columns = ['SEQN', 'DR2TKCAL', 'DR2TPROT', 'DR2TCARB', 'DR2TSUGR', 'DR2TFIBE', 'DR2TTFAT', 'DR2TSFAT',
                          'DR2TMFAT', 'DR2TPFAT', 'DR2TCHOL', 'DR2TATOC', 'DR2TATOA', 'DR2TRET', 'DR2TVARA', 'DR2TACAR',
                          'DR2TBCAR', 'DR2TCRYP', 'DR2TLYCO', 'DR2TLZ', 'DR2TVB1', 'DR2TVB2', 'DR2TNIAC', 'DR2TVB6',
                          'DR2TFOLA', 'DR2TFA', 'DR2TFF', 'DR2TFDFE', 'DR2TCHL', 'DR2TVB12', 'DR2TB12A', 'DR2TVC',
                          'DR2TVK', 'DR2TCALC', 'DR2TPHOS', 'DR2TMAGN', 'DR2TIRON', 'DR2TZINC', 'DR2TCOPP',
                          'DR2TSODI', 'DR2TPOTA', 'DR2TSELE', 'DR2TCAFF', 'DR2TTHEO', 'DR2TALCO', 'DR2TMOIS',
                          'DR2TS040', 'DR2TS060', 'DR2TS080', 'DR2TS100', 'DR2TS120', 'DR2TS140', 'DR2TS160', 
                          'DR2TS180', 'DR2TM161', 'DR2TM181', 'DR2TM201', 'DR2TM221', 'DR2TP182', 'DR2TP183',
                          'DR2TP184', 'DR2TP204', 'DR2TP205', 'DR2TP225', 'DR2TP226', 'DR2_320Z']

In [1470]:
Day_2_Nutrition_df = Preprocess_Day_2_Nutrition_df[day_2_nutrient_columns]
Day_2_Nutrition_df.head()

,SEQN,DR2TKCAL,DR2TPROT,DR2TCARB,DR2TSUGR,DR2TFIBE,DR2TTFAT,DR2TSFAT,DR2TMFAT,DR2TPFAT,...,DR2TM201,DR2TM221,DR2TP182,DR2TP183,DR2TP184,DR2TP204,DR2TP205,DR2TP225,DR2TP226,DR2_320Z
0,41475.0,1459.0,76.53,156.50,77.13,16.7,59.69,26.846,21.883,5.011,...,0.130,2.000000e-03,3.530,0.690,5.397605e-79,0.160,8.000000e-03,3.000000e-03,0.026,7.258200e+02
1,41476.0,1351.0,48.03,224.42,156.02,13.2,33.11,13.694,10.031,6.600,...,0.068,5.397605e-79,5.662,0.861,2.100000e-02,0.036,5.397605e-79,5.397605e-79,0.005,3.406900e+02
2,41477.0,1925.0,122.82,165.03,51.98,15.1,87.02,19.610,32.418,27.092,...,0.351,2.500000e-02,22.883,3.029,4.700000e-02,0.299,2.680000e-01,1.300000e-01,0.340,5.397605e-79
3,41478.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,41479.0,1615.0,76.95,211.40,74.85,22.5,54.03,17.239,20.868,9.613,...,0.126,1.000000e-03,8.581,0.939,5.397605e-79,0.062,4.000000e-03,2.000000e-03,0.001,4.740000e+02

In [1471]:
Full_Days_Nutrition_df = pd.merge(Day_1_Nutrition_df, Day_2_Nutrition_df, on="SEQN")
Full_Days_Nutrition_df.head()

,SEQN,DR1TKCAL,DR1TPROT,DR1TCARB,DR1TSUGR,DR1TFIBE,DR1TTFAT,DR1TSFAT,DR1TMFAT,DR1TPFAT,...,DR2TM201,DR2TM221,DR2TP182,DR2TP183,DR2TP184,DR2TP204,DR2TP205,DR2TP225,DR2TP226,DR2_320Z
0,41475.0,1598.0,62.78,192.19,83.35,10.0,65.64,25.112,24.090,8.543,...,0.130,2.000000e-03,3.530,0.690,5.397605e-79,0.160,8.000000e-03,3.000000e-03,0.026,7.258200e+02
1,41476.0,2093.0,69.38,276.93,167.71,14.4,82.47,22.093,27.767,24.954,...,0.068,5.397605e-79,5.662,0.861,2.100000e-02,0.036,5.397605e-79,5.397605e-79,0.005,3.406900e+02
2,41477.0,914.0,40.90,94.78,18.25,5.6,42.56,10.381,15.113,13.189,...,0.351,2.500000e-02,22.883,3.029,4.700000e-02,0.299,2.680000e-01,1.300000e-01,0.340,5.397605e-79
3,41478.0,1148.0,38.52,161.69,92.13,10.7,40.25,17.169,14.081,4.783,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,41479.0,2910.0,138.85,319.65,123.06,32.7,125.96,31.658,56.788,28.074,...,0.126,1.000000e-03,8.581,0.939,5.397605e-79,0.062,4.000000e-03,2.000000e-03,0.001,4.740000e+02

In [1472]:
for i in day_2_nutrient_columns[1:]:
    lst_i = list(i)
    lst_i[2] = '1'
    j = ''.join(lst_i)
    Full_Days_Nutrition_df[i] = Full_Days_Nutrition_df[i].fillna(value = Full_Days_Nutrition_df[j])

In [1473]:
Full_Days_Nutrition_df.head()

,SEQN,DR1TKCAL,DR1TPROT,DR1TCARB,DR1TSUGR,DR1TFIBE,DR1TTFAT,DR1TSFAT,DR1TMFAT,DR1TPFAT,...,DR2TM201,DR2TM221,DR2TP182,DR2TP183,DR2TP184,DR2TP204,DR2TP205,DR2TP225,DR2TP226,DR2_320Z
0,41475.0,1598.0,62.78,192.19,83.35,10.0,65.64,25.112,24.090,8.543,...,0.130,2.000000e-03,3.530,0.690,5.397605e-79,0.160,8.000000e-03,3.000000e-03,2.600000e-02,7.258200e+02
1,41476.0,2093.0,69.38,276.93,167.71,14.4,82.47,22.093,27.767,24.954,...,0.068,5.397605e-79,5.662,0.861,2.100000e-02,0.036,5.397605e-79,5.397605e-79,5.000000e-03,3.406900e+02
2,41477.0,914.0,40.90,94.78,18.25,5.6,42.56,10.381,15.113,13.189,...,0.351,2.500000e-02,22.883,3.029,4.700000e-02,0.299,2.680000e-01,1.300000e-01,3.400000e-01,5.397605e-79
3,41478.0,1148.0,38.52,161.69,92.13,10.7,40.25,17.169,14.081,4.783,...,0.101,7.000000e-03,4.129,0.605,5.397605e-79,0.030,5.397605e-79,5.397605e-79,5.397605e-79,1.481300e+02
4,41479.0,2910.0,138.85,319.65,123.06,32.7,125.96,31.658,56.788,28.074,...,0.126,1.000000e-03,8.581,0.939,5.397605e-79,0.062,4.000000e-03,2.000000e-03,1.000000e-03,4.740000e+02

In [1474]:
full_day_columns = list(Full_Days_Nutrition_df.columns)

In [1475]:
for i in full_day_columns:
    Full_Days_Nutrition_df[i] = Full_Days_Nutrition_df[i].fillna(value = 0)
    Full_Days_Nutrition_df.loc[Full_Days_Nutrition_df[i]==0,i] = Full_Days_Nutrition_df[i].mean()

In [1476]:
for i in day_1_nutrient_columns[1:]:
    day_1 = i
    lst_i = list(i)
    lst_i[2] = '2'
    day_2 = ''.join(lst_i)
    lst_i[2] = '3'
    day_3 = ''.join(lst_i)
    Full_Days_Nutrition_df[day_3] = (Full_Days_Nutrition_df[day_1] + Full_Days_Nutrition_df[day_2]) / 2

In [1477]:
Average_Days_Nutrition_df = Full_Days_Nutrition_df.drop(full_day_columns[1:], axis = 1)

In [1478]:
Average_Days_Nutrition_df.head()

,SEQN,DR3TKCAL,DR3TPROT,DR3TCARB,DR3TSUGR,DR3TFIBE,DR3TTFAT,DR3TSFAT,DR3TMFAT,DR3TPFAT,...,DR3TM201,DR3TM221,DR3TP182,DR3TP183,DR3TP184,DR3TP204,DR3TP205,DR3TP225,DR3TP226,DR3_320Z
0,41475.0,1528.5,69.655,174.345,80.240,13.35,62.665,25.9790,22.9865,6.7770,...,0.1495,0.0020,5.3425,0.7135,5.397605e-79,0.1825,6.000000e-03,1.500000e-03,3.350000e-02,8.665350e+02
1,41476.0,1722.0,58.705,250.675,161.865,13.80,57.790,17.8935,18.8990,15.7770,...,0.1160,0.0010,14.0515,1.5510,1.050000e-02,0.0740,1.500000e-03,5.397605e-79,1.400000e-02,2.888450e+02
2,41477.0,1419.5,81.860,129.905,35.115,10.35,64.790,14.9955,23.7655,20.1405,...,0.2430,0.0135,17.1960,2.2635,2.350000e-02,0.2165,1.355000e-01,6.500000e-02,1.855000e-01,5.397605e-79
3,41478.0,1148.0,38.520,161.690,92.130,10.70,40.250,17.1690,14.0810,4.7830,...,0.1010,0.0070,4.1290,0.6050,5.397605e-79,0.0300,5.397605e-79,5.397605e-79,5.397605e-79,1.481300e+02
4,41479.0,2262.5,107.900,265.525,98.955,27.60,89.995,24.4485,38.8280,18.8435,...,0.4570,0.0055,16.8760,1.1765,5.500000e-03,0.1765,2.555000e-01,4.600000e-02,2.190000e-01,5.925000e+02

In [1479]:
Average_Days_Nutrition_df.to_csv('2007_2008_Average_Days_Nutrition.csv')

In [1480]:
DR2TKCAL - Energy (kcal)
DR2TPROT - Protein (gm)
DR2TCARB - Carbohydrate (gm)
DR2TSUGR - Total sugars (gm)
DR2TFIBE - Dietary fiber (gm)
DR2TTFAT - Total fat (gm)
DR2TSFAT - Total saturated fatty acids (gm)
DR2TMFAT - Total monounsaturated fatty acids (gm)
DR2TPFAT - Total polyunsaturated fatty acids (gm)
DR2TCHOL - Cholesterol (mg)
DR2TATOC - Vitamin E as alpha-tocopherol (mg)
DR2TATOA - Added alpha-tocopherol (Vitamin E) (mg)
DR2TRET - Retinol (mcg)
DR2TVARA - Vitamin A, RAE (mcg)
DR2TACAR - Alpha-carotene (mcg)
DR2TBCAR - Beta-carotene (mcg)
DR2TCRYP - Beta-cryptoxanthin (mcg)
DR2TLYCO - Lycopene (mcg)
DR2TLZ - Lutein + zeaxanthin (mcg)
DR2TVB1 - Thiamin (Vitamin B1) (mg)
DR2TVB2 - Riboflavin (Vitamin B2) (mg)
DR2TNIAC - Niacin (mg)
DR2TVB6 - Vitamin B6 (mg)
DR2TFOLA - Total folate (mcg)
DR2TFA - Folic acid (mcg)
DR2TFF - Food folate (mcg)
DR2TFDFE - Folate, DFE (mcg)
DR2TCHL - Total choline (mg)
DR2TVB12 - Vitamin B12 (mcg)
DR2TB12A - Added vitamin B12 (mcg)
DR2TVC - Vitamin C (mg)
DR2TVD - Vitamin D (D2 + D3) (mcg)
DR2TVK - Vitamin K (mcg)
DR2TCALC - Calcium (mg)
DR2TPHOS - Phosphorus (mg)
DR2TMAGN - Magnesium (mg)
DR2TIRON - Iron (mg)
DR2TZINC - Zinc (mg)
DR2TCOPP - Copper (mg)
DR2TSODI - Sodium (mg)
DR2TPOTA - Potassium (mg)
DR2TSELE - Selenium (mcg)
DR2TCAFF - Caffeine (mg)
DR2TTHEO - Theobromine (mg)
DR2TALCO - Alcohol (gm)
DR2TMOIS - Moisture (gm)
DR2TS040 - SFA 4:0 (Butanoic) (gm)
DR2TS060 - SFA 6:0 (Hexanoic) (gm)
DR2TS080 - SFA 8:0 (Octanoic) (gm)
DR2TS100 - SFA 10:0 (Decanoic) (gm)
DR2TS120 - SFA 12:0 (Dodecanoic) (gm)
DR2TS140 - SFA 14:0 (Tetradecanoic) (gm)
DR2TS160 - SFA 16:0 (Hexadecanoic) (gm)
DR2TS180 - SFA 18:0 (Octadecanoic) (gm)
DR2TM161 - MFA 16:1 (Hexadecenoic) (gm)
DR2TM181 - MFA 18:1 (Octadecenoic) (gm)
DR2TM201 - MFA 20:1 (Eicosenoic) (gm)
DR2TM221 - MFA 22:1 (Docosenoic) (gm)
DR2TP182 - PFA 18:2 (Octadecadienoic) (gm)
DR2TP183 - PFA 18:3 (Octadecatrienoic) (gm)
DR2TP184 - PFA 18:4 (Octadecatetraenoic) (gm)
DR2TP204 - PFA 20:4 (Eicosatetraenoic) (gm)
DR2TP205 - PFA 20:5 (Eicosapentaenoic) (gm)
DR2TP225 - PFA 22:5 (Docosapentaenoic) (gm)
DR2TP226 - PFA 22:6 (Docosahexaenoic) (gm)
DR2_320Z - Total plain water drank yesterday (gm)

SyntaxError: invalid syntax (<ipython-input-1480-f633c372a310>, line 4)

# Demographics

In [269]:
Preprocess_Demographics_df = pd.read_sas(filepath_or_buffer = 'C:/Users/lenovo/NHANES-Downloader-master/data/raw_data/2015-2016/Demographics/DEMO_I.XPT')

In [270]:
demo_column_list = ['SEQN','RIAGENDR', 'RIDAGEYR', 'RIDRETH1','DMDHRMAR',
                   'INDFMIN2','INDFMPIR','DMDHREDU']
#demo_column_list = ['SEQN','RIAGENDR', 'RIDAGEYR', 'RIDRETH1','DMDHRMAR',
 #                       'INDFMINC','INDFMPIR','DMDHREDU']
Demographics_df = Preprocess_Demographics_df[demo_column_list]
Demographics_df.head(6)

,SEQN,RIAGENDR,RIDAGEYR,RIDRETH1,DMDHRMAR,INDFMIN2,INDFMPIR,DMDHREDU
0,83732.0,1.0,62.0,3.0,1.0,10.0,4.39,5.0
1,83733.0,1.0,53.0,3.0,3.0,4.0,1.32,3.0
2,83734.0,1.0,78.0,3.0,1.0,5.0,1.51,3.0
3,83735.0,2.0,56.0,3.0,6.0,10.0,5.00,5.0
4,83736.0,2.0,42.0,4.0,3.0,7.0,1.23,4.0
5,83737.0,2.0,72.0,1.0,1.0,14.0,2.82,5.0

RIAGENDR - Sex
RIDAGEYR - Age
RIDRETH3/RIDRETH1 - Race
DMDHRMAR - Marriage
INDFMPIR - income/poor
INDFMIN2/INDFMINC - income
DMDHREDU - education

In [271]:
Demographics_df['RIAGENDR'].fillna(0, inplace = True)
Demographics_df.loc[Demographics_df['RIAGENDR']==0,'RIAGENDR'] = Demographics_df['RIAGENDR'].mode().values 
Demographics_df['RIDAGEYR'].fillna(0, inplace = True)
Demographics_df.loc[Demographics_df['RIDAGEYR']==0,'RIDAGEYR'] = Demographics_df['RIDAGEYR'].mode().values

Demographics_df['RIDRETH1'].fillna(0, inplace = True)
Demographics_df.loc[Demographics_df['RIDRETH1']==0,'RIDRETH1'] = Demographics_df['RIDRETH1'].mode().values

Demographics_df.loc[Demographics_df['DMDHRMAR'] == 77, 'DMDHRMAR'] = 5.0
Demographics_df.loc[Demographics_df['DMDHRMAR'] == 99, 'DMDHRMAR'] = 6.0
Demographics_df['DMDHRMAR'].fillna(0, inplace = True)
Demographics_df.loc[Demographics_df['DMDHRMAR']== 0,'DMDHRMAR'] = Demographics_df['DMDHRMAR'].mode().values
Demographics_df['INDFMPIR'].fillna(0,inplace = True)
Demographics_df.loc[Demographics_df['INDFMPIR']==0,'INDFMPIR'] = Demographics_df['INDFMPIR'].mean()

Demographics_df.loc[Demographics_df['INDFMIN2'] == 77, 'INDFMIN2'] = 13.0
Demographics_df.loc[Demographics_df['INDFMIN2'] == 99, 'INDFMIN2'] = 12.0
Demographics_df['INDFMIN2'].fillna(0, inplace = True)
Demographics_df.loc[Demographics_df['INDFMIN2']==0,'INDFMIN2'] = Demographics_df['INDFMIN2'].mean() 

Demographics_df['DMDHREDU'].fillna(0, inplace = True)
Demographics_df.loc[Demographics_df['DMDHREDU']== 0,'DMDHREDU'] = Demographics_df['DMDHREDU'].mode().values

In [272]:
Demographics_df.head(6)

,SEQN,RIAGENDR,RIDAGEYR,RIDRETH1,DMDHRMAR,INDFMIN2,INDFMPIR,DMDHREDU
0,83732.0,1.0,62.0,3.0,1.0,10.0,4.39,5.0
1,83733.0,1.0,53.0,3.0,3.0,4.0,1.32,3.0
2,83734.0,1.0,78.0,3.0,1.0,5.0,1.51,3.0
3,83735.0,2.0,56.0,3.0,6.0,10.0,5.00,5.0
4,83736.0,2.0,42.0,4.0,3.0,7.0,1.23,4.0
5,83737.0,2.0,72.0,1.0,1.0,14.0,2.82,5.0

In [273]:
bins = [0,17,26,34,50,63,100]

In [274]:
Demographics_df['RIDAGEYR'] = pd.cut(Demographics_df['RIDAGEYR'], bins, labels = [0,1,2,3,4,5])

In [275]:
Age_df = Demographics_df[['SEQN', 'RIDAGEYR']]
Demographics_df.head(6)

,SEQN,RIAGENDR,RIDAGEYR,RIDRETH1,DMDHRMAR,INDFMIN2,INDFMPIR,DMDHREDU
0,83732.0,1.0,4,3.0,1.0,10.0,4.39,5.0
1,83733.0,1.0,4,3.0,3.0,4.0,1.32,3.0
2,83734.0,1.0,5,3.0,1.0,5.0,1.51,3.0
3,83735.0,2.0,4,3.0,6.0,10.0,5.00,5.0
4,83736.0,2.0,3,4.0,3.0,7.0,1.23,4.0
5,83737.0,2.0,5,1.0,1.0,14.0,2.82,5.0

In [315]:
Demographics_df.to_csv('2015_2016_Demographics.csv')

# ALB_CR

In [390]:
Preprocess_ALB_CR_df = pd.read_sas(filepath_or_buffer = 'ALB_CR_I.XPT')
ALB_CR_columns = ['SEQN', 'URXUMA', 'URXUMS', 'URXUCR', 'URXCRS']
Preprocess_ALB_CR_df = Preprocess_ALB_CR_df[ALB_CR_columns]
Preprocess_ALB_CR_df.head()

      SEQN  URXUMA  URXUMS  URXUCR   URXCRS
0  83732.0     2.5     2.5    41.0   3624.4
1  83733.0    23.2    23.2   181.0  16000.4
2  83734.0   105.0   105.0    70.0   6188.0
3  83735.0     5.8     5.8   102.0   9016.8
4  83736.0    47.6    47.6   315.0  27846.0

In [391]:
Preprocess_ALB_CR_df['URXUMA'].fillna(0, inplace = True)
Preprocess_ALB_CR_df.loc[Preprocess_ALB_CR_df['URXUMA']==0,'URXUMA'] = Preprocess_ALB_CR_df['URXUMA'].mean()

In [392]:
Preprocess_ALB_CR_df['URXUMS'].fillna(0, inplace = True)
Preprocess_ALB_CR_df.loc[Preprocess_ALB_CR_df['URXUMS']==0,'URXUMS'] = Preprocess_ALB_CR_df['URXUMS'].mean()

In [393]:
Preprocess_ALB_CR_df['URXUCR'].fillna(0, inplace = True)
Preprocess_ALB_CR_df.loc[Preprocess_ALB_CR_df['URXUCR']==0,'URXUCR'] = Preprocess_ALB_CR_df['URXUCR'].mean()

In [394]:
Preprocess_ALB_CR_df['URXCRS'].fillna(0, inplace = True)
Preprocess_ALB_CR_df.loc[Preprocess_ALB_CR_df['URXCRS']==0,'URXCRS'] = Preprocess_ALB_CR_df['URXCRS'].mean()

In [395]:
Preprocess_ALB_CR_df.head()

      SEQN  URXUMA  URXUMS  URXUCR   URXCRS
0  83732.0     2.5     2.5    41.0   3624.4
1  83733.0    23.2    23.2   181.0  16000.4
2  83734.0   105.0   105.0    70.0   6188.0
3  83735.0     5.8     5.8   102.0   9016.8
4  83736.0    47.6    47.6   315.0  27846.0

In [174]:
Preprocess_ALB_CR_df.isnull().values.any()

True

In [396]:
Preprocess_ALB_CR_df.to_csv('2015_2016_ALB_CR.csv')

# BMX_D

In [276]:
Preprocess_BMX_D_df = pd.read_sas(filepath_or_buffer = 'BMX_I.XPT')
body_measure_columns = ['SEQN', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXWAIST']
Preprocess_BMX_D_df = Preprocess_BMX_D_df[body_measure_columns]

In [277]:
Preprocess_BMX_D_df.head()

      SEQN  BMXWT  BMXHT  BMXBMI  BMXWAIST
0  83732.0   94.8  184.5    27.8     101.1
1  83733.0   90.4  171.4    30.8     107.9
2  83734.0   83.4  170.1    28.8     116.5
3  83735.0  109.8  160.9    42.4     110.1
4  83736.0   55.2  164.9    20.3      80.4

In [278]:
Preprocess_BMX_D_df = pd.merge(Preprocess_BMX_D_df, Age_df, on="SEQN")

In [279]:
Preprocess_BMX_D_Medians = Preprocess_BMX_D_df.groupby('RIDAGEYR').median()

In [280]:
Preprocess_BMX_D_Medians.head(6)

             SEQN  BMXWT   BMXHT  BMXBMI  BMXWAIST
RIDAGEYR
0         88810.0   27.1  135.75    18.2      63.7
1         88748.0   72.1  167.60    25.2      85.7
2         88648.0   78.7  167.20    28.1      95.5
3         88592.0   81.4  166.40    29.1      99.0
4         88759.5   80.2  165.70    29.0     101.1
5         88617.0   75.8  163.40    28.4     101.9

In [281]:
Preprocess_BMX_D_df.loc[Preprocess_BMX_D_df['BMXWT'].isnull(),'BMXWT'] = Preprocess_BMX_D_df['RIDAGEYR'].map(Preprocess_BMX_D_Medians['BMXWT'])
Preprocess_BMX_D_df.loc[Preprocess_BMX_D_df['BMXHT'].isnull(),'BMXHT'] = Preprocess_BMX_D_df['RIDAGEYR'].map(Preprocess_BMX_D_Medians['BMXHT'])
Preprocess_BMX_D_df.loc[Preprocess_BMX_D_df['BMXWAIST'].isnull(),'BMXWAIST'] = Preprocess_BMX_D_df['RIDAGEYR'].map(Preprocess_BMX_D_Medians['BMXWAIST'])

In [282]:
Preprocess_BMX_D_df['BMXBMI'] = Preprocess_BMX_D_df['BMXBMI'].fillna(Preprocess_BMX_D_df['BMXWT'] / (Preprocess_BMX_D_df['BMXHT'] / 100)**2)

In [283]:
Preprocess_BMX_D_df

         SEQN  BMXWT   BMXHT     BMXBMI  BMXWAIST RIDAGEYR
0     83732.0   94.8  184.50  27.800000     101.1        4
1     83733.0   90.4  171.40  30.800000     107.9        4
2     83734.0   83.4  170.10  28.800000     116.5        5
3     83735.0  109.8  160.90  42.400000     110.1        4
4     83736.0   55.2  164.90  20.300000      80.4        3
5     83737.0   64.4  150.00  28.600000      92.9        5
6     83738.0   37.2  143.50  18.100000      67.5        0
7     83739.0   16.4  102.10  15.700000      48.5        0
8     83740.0   10.1  135.75   5.480772      63.7        0
9     83741.0   76.6  165.40  28.000000      86.6        1
10    83742.0   64.5  151.30  28.200000      93.3        2
11    83743.0   72.4  166.10  26.200000      85.7        1
12    83744.0  108.3  179.40  33.600000     116.0        4
13    83745.0   71.7  169.20  25.000000      88.3        0
14    83746.0   17.7  105.00  16.100000      56.5        0
15    83747.0   86.2  176.70  27.600000     104.3        3
16    83748.0   17.3  103.60  16.100000      52.5        0
17    83749.0   75.9  161.70  29.000000      98.3        0
18    83750.0   76.2  177.80  24.100000      90.1        3
19    83751.0   51.7  152.60  22.200000      74.2        0
20    83752.0   71.2  163.60  26.600000      90.7        2
21    83753.0   71.2  170.50  24.500000      76.9        0
22    83754.0  117.8  164.10  43.700000     123.0        5
23    83755.0   97.4  183.80  28.800000     106.3        5
24    83756.0   60.0  163.90  22.300000      76.0        0
25    83757.0   80.5  150.80  35.400000     113.5        4
26    83759.0  100.8  175.40  32.800000     104.6        1
27    83760.0   14.6   94.70  16.300000      47.5        0
28    83761.0   61.8  156.40  25.300000      79.5        1
29    83762.0  107.9  168.50  38.000000     114.8        2
...       ...    ...     ...        ...       ...      ...
9514  93672.0   81.9  147.60  37.600000     122.5        4
9515  93673.0   26.4  123.00  17.400000      63.7        0
9516  93674.0   26.1  122.60  17.400000      58.9        0
9517  93675.0   77.6  179.00  24.200000      94.2        3
9518  93676.0   92.2  161.70  35.300000     110.9        3
9519  93677.0   62.2  167.40  22.200000      83.3        2
9520  93678.0    9.8  135.75   5.317976      63.7        0
9521  93679.0   57.8  157.00  23.400000      90.4        5
9522  93680.0   65.1  179.50  20.200000      72.0        0
9523  93682.0   58.2  166.90  20.900000      80.8        3
9524  93683.0   25.0  103.30  23.400000      63.7        0
9525  93684.0  101.2  180.90  30.900000      99.0        2
9526  93685.0   78.7  156.90  32.000000     107.5        4
9527  93686.0   59.9  157.20  24.200000      84.8        0
9528  93687.0   54.4  154.80  22.700000      70.5        0
9529  93688.0   10.5  135.75   5.697832      63.7        0
9530  93689.0   64.8  151.90  28.100000     101.1        5
9531  93690.0   89.5  164.90  32.900000     101.0        2
9532  93691.0   39.2  136.50  21.000000      75.4        1
9533  93692.0    9.8  135.75   5.317976      63.7        0
9534  93693.0   33.0  135.40  18.000000      62.4        0
9535  93694.0   36.2  124.70  23.300000      73.5        0
9536  93695.0   59.1  165.80  21.500000      95.0        5
9537  93696.0  112.1  182.20  33.800000     110.2        1
9538  93697.0   71.7  152.20  31.000000     101.9        5
9539  93698.0   27.1  135.75  14.705832      63.7        0
9540  93699.0   29.0  126.20  18.200000      62.9        0
9541  93700.0   78.2  173.30  26.000000      98.9        3
9542  93701.0   28.8  126.00  18.100000      62.7        0
9543  93702.0   58.3  165.00  21.400000      72.5        1

[9544 rows x 6 columns]

In [284]:
Preprocess_BMX_D_df.isnull().values.any()

False

In [285]:
Preprocess_BMX_D_df.drop(['RIDAGEYR'],axis = 1, inplace=True)

In [286]:
Preprocess_BMX_D_df.to_csv('2015_2016_BMX_I.csv')

# BPX

In [345]:
Preprocess_BPX_D_df = pd.read_sas(filepath_or_buffer = 'C:/Users/lenovo/NHANES-Downloader-master/data/raw_data/2015-2016/Examination/BPX_I.XPT')
Preprocess_Demographics_df = pd.read_sas(filepath_or_buffer = 'C:/Users/lenovo/NHANES-Downloader-master/data/raw_data/2015-2016/Demographics/DEMO_I.XPT')
bins = [0,17,26,34,50,63,100]
Preprocess_Demographics_df['RIDAGEYR'] = pd.cut(Preprocess_Demographics_df['RIDAGEYR'], bins, labels = [0,1,2,3,4,5])
Age_df = Preprocess_Demographics_df[['SEQN', 'RIDAGEYR']]
blood_pressure_columns = ['SEQN', 'BPXPLS', 'BPXPULS', 'BPXSY2', 'BPXDI2']
Preprocess_BPX_D_df = Preprocess_BPX_D_df[blood_pressure_columns]

In [346]:
Preprocess_BPX_D_df.head()

      SEQN  BPXPLS  BPXPULS  BPXSY2  BPXDI2
0  83732.0    76.0      1.0   124.0    64.0
1  83733.0    72.0      1.0   140.0    88.0
2  83734.0    56.0      1.0   132.0    44.0
3  83735.0    78.0      1.0   134.0    68.0
4  83736.0    76.0      1.0   114.0    54.0

In [347]:
Preprocess_BPX_D_df = pd.merge(Preprocess_BPX_D_df, Age_df, on="SEQN")
Preprocess_BPX_D_Medians = Preprocess_BPX_D_df.groupby('RIDAGEYR').median()
Preprocess_BPX_D_Medians.head(6)

             SEQN  BPXPLS  BPXPULS  BPXSY2  BPXDI2
RIDAGEYR
0         88810.0    80.0      1.0   106.0    56.0
1         88748.0    74.0      1.0   114.0    64.0
2         88648.0    74.0      1.0   114.0    68.0
3         88592.0    74.0      1.0   120.0    74.0
4         88759.5    70.0      1.0   128.0    74.0
5         88617.0    70.0      1.0   134.0    66.0

In [348]:
Preprocess_BPX_D_df.loc[Preprocess_BPX_D_df['BPXPLS'].isnull(),'BPXPLS'] = Preprocess_BPX_D_df['RIDAGEYR'].map(Preprocess_BPX_D_Medians['BPXPLS'])
Preprocess_BPX_D_df.loc[Preprocess_BPX_D_df['BPXPULS'].isnull(),'BPXPULS'] = Preprocess_BPX_D_df['RIDAGEYR'].map(Preprocess_BPX_D_Medians['BPXPULS'])
Preprocess_BPX_D_df.loc[Preprocess_BPX_D_df['BPXSY2'].isnull(),'BPXSY2'] = Preprocess_BPX_D_df['RIDAGEYR'].map(Preprocess_BPX_D_Medians['BPXSY2'])
Preprocess_BPX_D_df.loc[Preprocess_BPX_D_df['BPXDI2'].isnull(),'BPXDI2'] = Preprocess_BPX_D_df['RIDAGEYR'].map(Preprocess_BPX_D_Medians['BPXDI2'])

In [349]:
Preprocess_BPX_D_df.isnull().values.any()
Preprocess_BPX_D_df.drop(['RIDAGEYR'],axis = 1, inplace=True)
Preprocess_BPX_D_df.to_csv('2015_2016_BPX_I.csv')

# GHB

In [375]:
Preprocess_GHB_D_df = pd.read_sas(filepath_or_buffer = 'C:/Users/lenovo/NHANES-Downloader-master/data/raw_data/2015-2016/Examination/GHB_I.XPT')
Preprocess_Demographics_df = pd.read_sas(filepath_or_buffer = 'C:/Users/lenovo/NHANES-Downloader-master/data/raw_data/2015-2016/Demographics/DEMO_I.XPT')
bins = [0,17,26,34,50,63,100]
Preprocess_Demographics_df['RIDAGEYR'] = pd.cut(Preprocess_Demographics_df['RIDAGEYR'], bins, labels = [0,1,2,3,4,5])
Age_df = Preprocess_Demographics_df[['SEQN', 'RIDAGEYR']]
columns = ['SEQN', 'LBXGH']
Preprocess_GHB_D_df = Preprocess_GHB_D_df[columns]

In [376]:
Preprocess_GHB_D_df.head()

      SEQN  LBXGH
0  83732.0    7.0
1  83733.0    5.5
2  83734.0    5.8
3  83735.0    5.6
4  83736.0    5.6

In [377]:
Preprocess_GHB_D_df = pd.merge(Preprocess_GHB_D_df, Age_df, on="SEQN")
Preprocess_GHB_D_Medians = Preprocess_GHB_D_df.groupby('RIDAGEYR').mean()
Preprocess_GHB_D_Medians.head(6)

                  SEQN     LBXGH
RIDAGEYR
0         88913.746283  5.281356
1         88663.374720  5.252612
2         88721.542526  5.414384
3         88653.406616  5.755789
4         88686.177760  6.128981
5         88683.963821  6.195982

In [378]:
Preprocess_GHB_D_df.loc[Preprocess_GHB_D_df['LBXGH'].isnull(),'LBXGH'] = Preprocess_GHB_D_df['RIDAGEYR'].map(Preprocess_GHB_D_Medians['LBXGH'])

In [379]:
Preprocess_GHB_D_df.isnull().values.any()
Preprocess_GHB_D_df.drop(['RIDAGEYR'],axis = 1, inplace=True)
Preprocess_GHB_D_df.to_csv('2015_2016_GHB_I.csv')

# GLU

In [448]:
Preprocess_GLU_D_df = pd.read_sas(filepath_or_buffer = 'C:/Users/lenovo/NHANES-Downloader-master/data/raw_data/2005-2006/Examination/GLU_D.XPT')
Preprocess_Demographics_df = pd.read_sas(filepath_or_buffer = 'C:/Users/lenovo/NHANES-Downloader-master/data/raw_data/2005-2006/Demographics/DEMO_D.XPT')
bins = [0,17,26,34,50,63,100]
Preprocess_Demographics_df['RIDAGEYR'] = pd.cut(Preprocess_Demographics_df['RIDAGEYR'], bins, labels = [0,1,2,3,4,5])
Age_df = Preprocess_Demographics_df[['SEQN', 'RIDAGEYR']]
columns = ['SEQN', 'LBDGLUSI']
Preprocess_GLU_D_df = Preprocess_GLU_D_df[columns]

In [449]:
Preprocess_GLU_D_df.head()

      SEQN  LBDGLUSI
0  31130.0       NaN
1  31131.0     4.996
2  31132.0     8.715
3  31133.0     4.663
4  31134.0     5.551

In [450]:
Preprocess_GLU_D_df = pd.merge(Preprocess_GLU_D_df, Age_df, on="SEQN")
Preprocess_GLU_D_Medians = Preprocess_GLU_D_df.groupby('RIDAGEYR').median()
Preprocess_GLU_D_Medians.head(6)

             SEQN  LBDGLUSI
RIDAGEYR
0         36237.5     5.162
1         36434.0     5.107
2         36017.0     5.107
3         36556.0     5.440
4         36325.5     5.718
5         36458.0     5.829

In [451]:
Preprocess_GLU_D_df.loc[Preprocess_GLU_D_df['LBDGLUSI'].isnull(),'LBDGLUSI'] = Preprocess_GLU_D_df['RIDAGEYR'].map(Preprocess_GLU_D_Medians['LBDGLUSI'])
#Preprocess_GLU_D_df.loc[Preprocess_GLU_D_df['LBDINSI'].isnull(),'LBDINSI'] = Preprocess_GLU_D_df['RIDAGEYR'].map(Preprocess_GLU_D_Medians['LBDINSI'])
#Preprocess_GLU_D_df.loc[Preprocess_GLU_D_df['PHAFSTHR'].isnull(),'PHAFSTHR'] = Preprocess_GLU_D_df['RIDAGEYR'].map(Preprocess_GLU_D_Medians['PHAFSTHR'])

In [452]:
Preprocess_GLU_D_df.isnull().values.any()
Preprocess_GLU_D_df.drop(['RIDAGEYR'],axis = 1, inplace=True)
Preprocess_GLU_D_df.to_csv('2005_2006_GLU_D.csv')

# OGTT

In [489]:
Preprocess_OGTT_D_df = pd.read_sas(filepath_or_buffer = 'C:/Users/lenovo/NHANES-Downloader-master/data/raw_data/2015-2016/Examination/OGTT_I.XPT')
Preprocess_Demographics_df = pd.read_sas(filepath_or_buffer = 'C:/Users/lenovo/NHANES-Downloader-master/data/raw_data/2015-2016/Demographics/DEMO_I.XPT')
bins = [0,17,26,34,50,63,100]
Preprocess_Demographics_df['RIDAGEYR'] = pd.cut(Preprocess_Demographics_df['RIDAGEYR'], bins, labels = [0,1,2,3,4,5])
Age_df = Preprocess_Demographics_df[['SEQN', 'RIDAGEYR']]
columns = ['SEQN','LBDGLTSI']
Preprocess_OGTT_D_df = Preprocess_OGTT_D_df[columns]

In [490]:
Preprocess_OGTT_D_df.head()

      SEQN  LBDGLTSI
0  83733.0       NaN
1  83734.0      8.66
2  83736.0       NaN
3  83737.0      5.50
4  83741.0      5.27

In [491]:
Preprocess_OGTT_D_df = pd.merge(Preprocess_OGTT_D_df, Age_df, on="SEQN")
Preprocess_OGTT_D_Medians = Preprocess_OGTT_D_df.groupby('RIDAGEYR').median()
Preprocess_OGTT_D_Medians.head(6)

             SEQN  LBDGLTSI
RIDAGEYR
0         88897.0     5.550
1         88870.0     5.330
2         88601.5     5.610
3         88474.5     6.000
4         88647.0     6.580
5         88650.0     7.465

In [492]:
Preprocess_OGTT_D_df.loc[Preprocess_OGTT_D_df['LBDGLTSI'].isnull(),'LBDGLTSI'] = Preprocess_OGTT_D_df['RIDAGEYR'].map(Preprocess_OGTT_D_Medians['LBDGLTSI'])

In [493]:
Preprocess_OGTT_D_df.isnull().values.any()
Preprocess_OGTT_D_df.drop(['RIDAGEYR'],axis = 1, inplace=True)
Preprocess_OGTT_D_df.to_csv('2015_2016_OGTT_I.csv')

# TCHOL

In [520]:
Preprocess_TCHOL_D_df = pd.read_sas(filepath_or_buffer = 'C:/Users/lenovo/NHANES-Downloader-master/data/raw_data/2015-2016/Examination/TCHOL_I.XPT')
Preprocess_Demographics_df = pd.read_sas(filepath_or_buffer = 'C:/Users/lenovo/NHANES-Downloader-master/data/raw_data/2015-2016/Demographics/DEMO_I.XPT')
bins = [0,17,26,34,50,63,100]
Preprocess_Demographics_df['RIDAGEYR'] = pd.cut(Preprocess_Demographics_df['RIDAGEYR'], bins, labels = [0,1,2,3,4,5])
Age_df = Preprocess_Demographics_df[['SEQN', 'RIDAGEYR']]
columns = ['SEQN','LBDTCSI']
Preprocess_TCHOL_D_df = Preprocess_TCHOL_D_df[columns]

In [521]:
Preprocess_TCHOL_D_df.head()

      SEQN  LBDTCSI
0  83732.0     4.47
1  83733.0     6.85
2  83734.0     5.92
3  83735.0     4.50
4  83736.0     5.28

In [522]:
Preprocess_TCHOL_D_df = pd.merge(Preprocess_TCHOL_D_df, Age_df, on="SEQN")
Preprocess_TCHOL_D_Medians = Preprocess_TCHOL_D_df.groupby('RIDAGEYR').median()
Preprocess_TCHOL_D_Medians.head(6)

             SEQN  LBDTCSI
RIDAGEYR
0         88957.0     3.93
1         88748.0     4.27
2         88648.0     4.65
3         88592.0     4.99
4         88759.5     5.15
5         88617.0     4.76

In [523]:
Preprocess_TCHOL_D_df.loc[Preprocess_TCHOL_D_df['LBDTCSI'].isnull(),'LBDTCSI'] = Preprocess_TCHOL_D_df['RIDAGEYR'].map(Preprocess_TCHOL_D_Medians['LBDTCSI'])

In [524]:
Preprocess_TCHOL_D_df.isnull().values.any()
Preprocess_TCHOL_D_df.drop(['RIDAGEYR'],axis = 1, inplace=True)
Preprocess_TCHOL_D_df.to_csv('2015_2016_TCHOL_I.csv')

# UHG

In [573]:
Preprocess_UHG_D_df = pd.read_sas(filepath_or_buffer = 'C:/Users/lenovo/NHANES-Downloader-master/data/raw_data/2015-2016/Examination/UHG_I.XPT')
Preprocess_Demographics_df = pd.read_sas(filepath_or_buffer = 'C:/Users/lenovo/NHANES-Downloader-master/data/raw_data/2015-2016/Demographics/DEMO_I.XPT')
bins = [0,17,26,34,50,63,100]
Preprocess_Demographics_df['RIDAGEYR'] = pd.cut(Preprocess_Demographics_df['RIDAGEYR'], bins, labels = [0,1,2,3,4,5])
Age_df = Preprocess_Demographics_df[['SEQN', 'RIDAGEYR']]
columns = ['SEQN','URXUHG']
Preprocess_UHG_D_df = Preprocess_UHG_D_df[columns]

In [574]:
Preprocess_UHG_D_df.head()

      SEQN  URXUHG
0  83732.0    0.09
1  83733.0    0.43
2  83734.0    0.09
3  83738.0    0.46
4  83739.0    0.09

In [575]:
Preprocess_UHG_D_df = pd.merge(Preprocess_UHG_D_df, Age_df, on="SEQN")
Preprocess_UHG_D_Medians = Preprocess_UHG_D_df.groupby('RIDAGEYR').median()
Preprocess_UHG_D_Medians.head()

             SEQN  URXUHG
RIDAGEYR
0         88998.0    0.09
1         88475.0    0.09
2         88436.0    0.09
3         88699.0    0.16
4         88706.0    0.18

In [576]:
Preprocess_UHG_D_df.loc[Preprocess_UHG_D_df['URXUHG'].isnull(),'URXUHG'] = Preprocess_UHG_D_df['RIDAGEYR'].map(Preprocess_UHG_D_Medians['URXUHG'])
#Preprocess_UHG_D_df.loc[Preprocess_UHG_D_df['URDUHGLC'].isnull(),'URDUHGLC'] = Preprocess_UHG_D_df['RIDAGEYR'].map(Preprocess_UHG_D_Medians['URDUHGLC'])
#Preprocess_UHG_D_df.loc[Preprocess_UHG_D_df['URXUCR'].isnull(),'URXUCR'] = Preprocess_UHG_D_df['RIDAGEYR'].map(Preprocess_UHG_D_Medians['URXUCR'])

In [577]:
Preprocess_UHG_D_df.isnull().values.any()
Preprocess_UHG_D_df.drop(['RIDAGEYR'],axis = 1, inplace=True)
Preprocess_UHG_D_df.to_csv('2015_2016_UHG_I.csv')

# UHM

In [613]:
Preprocess_UHM_D_df = pd.read_sas(filepath_or_buffer = 'C:/Users/lenovo/NHANES-Downloader-master/data/raw_data/2015-2016/Examination/UM_I.XPT')
Preprocess_Demographics_df = pd.read_sas(filepath_or_buffer = 'C:/Users/lenovo/NHANES-Downloader-master/data/raw_data/2015-2016/Demographics/DEMO_I.XPT')
bins = [0,17,26,34,50,63,100]
Preprocess_Demographics_df['RIDAGEYR'] = pd.cut(Preprocess_Demographics_df['RIDAGEYR'], bins, labels = [0,1,2,3,4,5])
Age_df = Preprocess_Demographics_df[['SEQN', 'RIDAGEYR']]
columns = ['SEQN','URXUBA','URXUCD','URXUCO',
           'URXUCS','URXUMO','URXUPB','URXUSB',
           'URXUTL','URXUTU','URXUUR']
Preprocess_UHM_D_df = Preprocess_UHM_D_df[columns]

In [614]:
Preprocess_UHM_D_df.head()

,SEQN,URXUBA,URXUCD,URXUCO,URXUCS,URXUMO,URXUPB,URXUSB,URXUTL,URXUTU,URXUUR
0,83732.0,2.03,0.087,0.354,2.502,11.12,0.08,0.016,0.028,0.022,0.0027
1,83733.0,1.57,1.315,0.638,4.727,22.79,1.61,0.060,0.223,0.037,0.0075
2,83734.0,0.53,0.476,0.338,5.211,133.63,0.35,0.057,0.139,0.024,0.0049
3,83738.0,1.84,0.025,0.604,3.637,57.52,0.30,0.103,0.125,0.228,0.0128
4,83739.0,0.96,0.025,0.274,3.041,49.84,0.12,0.016,0.082,0.049,0.0014

In [615]:
Preprocess_UHM_D_df = pd.merge(Preprocess_UHM_D_df, Age_df, on="SEQN")
Preprocess_UHM_D_Medians = Preprocess_UHM_D_df.groupby('RIDAGEYR').median()
Preprocess_UHM_D_Medians.head()

,SEQN,URXUBA,URXUCD,URXUCO,URXUCS,URXUMO,URXUPB,URXUSB,URXUTL,URXUTU,URXUUR
RIDAGEYR,,,,,,,,,,,
0,88998.0,1.17,0.0250,0.5150,4.134,56.260,0.24,0.0590,0.1730,0.1220,0.00430
1,88475.0,1.20,0.0940,0.4850,4.034,43.230,0.22,0.0510,0.1750,0.0860,0.00570
2,88436.0,1.31,0.1470,0.4680,4.614,42.120,0.31,0.0540,0.1900,0.0720,0.00510
3,88699.0,1.03,0.1985,0.4340,4.676,38.500,0.32,0.0475,0.1855,0.0640,0.00465
4,88706.0,0.92,0.2695,0.3555,4.110,35.025,0.37,0.0430,0.1485,0.0505,0.00430

In [616]:
Preprocess_UHM_D_df.loc[Preprocess_UHM_D_df['URXUBA'].isnull(),'URXUBA'] = Preprocess_UHM_D_df['RIDAGEYR'].map(Preprocess_UHM_D_Medians['URXUBA'])
#Preprocess_UHM_D_df.loc[Preprocess_UHM_D_df['URXUBE'].isnull(),'URXUBE'] = Preprocess_UHM_D_df['RIDAGEYR'].map(Preprocess_UHM_D_Medians['URXUBE'])
Preprocess_UHM_D_df.loc[Preprocess_UHM_D_df['URXUCD'].isnull(),'URXUCD'] = Preprocess_UHM_D_df['RIDAGEYR'].map(Preprocess_UHM_D_Medians['URXUCD'])
Preprocess_UHM_D_df.loc[Preprocess_UHM_D_df['URXUCO'].isnull(),'URXUCO'] = Preprocess_UHM_D_df['RIDAGEYR'].map(Preprocess_UHM_D_Medians['URXUCO'])
Preprocess_UHM_D_df.loc[Preprocess_UHM_D_df['URXUCS'].isnull(),'URXUCS'] = Preprocess_UHM_D_df['RIDAGEYR'].map(Preprocess_UHM_D_Medians['URXUCS'])
Preprocess_UHM_D_df.loc[Preprocess_UHM_D_df['URXUMO'].isnull(),'URXUMO'] = Preprocess_UHM_D_df['RIDAGEYR'].map(Preprocess_UHM_D_Medians['URXUMO'])
Preprocess_UHM_D_df.loc[Preprocess_UHM_D_df['URXUPB'].isnull(),'URXUPB'] = Preprocess_UHM_D_df['RIDAGEYR'].map(Preprocess_UHM_D_Medians['URXUPB'])
#Preprocess_UHM_D_df.loc[Preprocess_UHM_D_df['URXUPT'].isnull(),'URXUPT'] = Preprocess_UHM_D_df['RIDAGEYR'].map(Preprocess_UHM_D_Medians['URXUPT'])
Preprocess_UHM_D_df.loc[Preprocess_UHM_D_df['URXUSB'].isnull(),'URXUSB'] = Preprocess_UHM_D_df['RIDAGEYR'].map(Preprocess_UHM_D_Medians['URXUSB'])
Preprocess_UHM_D_df.loc[Preprocess_UHM_D_df['URXUTL'].isnull(),'URXUTL'] = Preprocess_UHM_D_df['RIDAGEYR'].map(Preprocess_UHM_D_Medians['URXUTL'])
Preprocess_UHM_D_df.loc[Preprocess_UHM_D_df['URXUTU'].isnull(),'URXUTU'] = Preprocess_UHM_D_df['RIDAGEYR'].map(Preprocess_UHM_D_Medians['URXUTU'])
Preprocess_UHM_D_df.loc[Preprocess_UHM_D_df['URXUUR'].isnull(),'URXUUR'] = Preprocess_UHM_D_df['RIDAGEYR'].map(Preprocess_UHM_D_Medians['URXUUR'])

In [617]:
Preprocess_UHM_D_df.isnull().values.any()
Preprocess_UHM_D_df.drop(['RIDAGEYR'],axis = 1, inplace=True)
Preprocess_UHM_D_df.to_csv('2015_2016_UHM_I.csv')

# Qu

In [1608]:
#Preprocess_ALQ_D_df = pd.read_sas(filepath_or_buffer = 'C:/Users/lenovo/NHANES-Downloader-master/data/raw_data/2005-2006/Questionnaire/ALQ_D.XPT')
#Preprocess_BPQ_D_df = pd.read_sas(filepath_or_buffer = 'C:/Users/lenovo/NHANES-Downloader-master/data/raw_data/2005-2006/Questionnaire/BPQ_D.XPT')
#Preprocess_DIQ_D_df = pd.read_sas(filepath_or_buffer = 'C:/Users/lenovo/NHANES-Downloader-master/data/raw_data/2005-2006/Questionnaire/DIQ_D.XPT')
#Preprocess_DBQ_D_df = pd.read_sas(filepath_or_buffer = 'C:/Users/lenovo/NHANES-Downloader-master/data/raw_data/2005-2006/Questionnaire/DBQ_D.XPT')
#Preprocess_PAQ_D_df = pd.read_sas(filepath_or_buffer = 'C:/Users/lenovo/NHANES-Downloader-master/data/raw_data/2005-2006/Questionnaire/PAQ_D.XPT')
#Preprocess_SLQ_D_df = pd.read_sas(filepath_or_buffer = 'C:/Users/lenovo/NHANES-Downloader-master/data/raw_data/2005-2006/Questionnaire/SLQ_D.XPT')
#Preprocess_SMQ_D_df = pd.read_sas(filepath_or_buffer = 'C:/Users/lenovo/NHANES-Downloader-master/data/raw_data/2005-2006/Questionnaire/SMQ_D.XPT')
#Preprocess_WHQ_D_df = pd.read_sas(filepath_or_buffer = 'C:/Users/lenovo/NHANES-Downloader-master/data/raw_data/2005-2006/Questionnaire/WHQ_D.XPT')

In [1609]:
Preprocess_df = pd.read_sas(filepath_or_buffer = 'C:/Users/lenovo/NHANES-Downloader-master/data/raw_data/2015-2016/Questionnaire/ALQ_I.XPT')

In [1610]:
#fname = ['ALQ_D.XPT','BPQ_D.XPT','DIQ_D.XPT','DBQ_D.XPT','PAQ_D.XPT','SLQ_D.XPT','SMQ_D.XPT','WHQ_D.XPT']
#fname = ['ALQ_E.XPT','BPQ_E.XPT','DIQ_E.XPT','DBQ_E.XPT','PAQ_E.XPT','SLQ_E.XPT','SMQ_E.XPT','WHQ_E.XPT']
#fname = ['ALQ_F.XPT','BPQ_F.XPT','DIQ_F.XPT','DBQ_F.XPT','PAQ_F.XPT','SLQ_F.XPT','SMQ_F.XPT','WHQ_F.XPT']
#fname = ['ALQ_G.XPT','BPQ_G.XPT','DIQ_G.XPT','DBQ_G.XPT','PAQ_G.XPT','SLQ_G.XPT','SMQ_G.XPT','WHQ_G.XPT']
#fname = ['ALQ_H.XPT','BPQ_H.XPT','DIQ_H.XPT','DBQ_H.XPT','PAQ_H.XPT','SLQ_H.XPT','SMQ_H.XPT','WHQ_H.XPT']
fname = ['ALQ_I.XPT','BPQ_I.XPT','DIQ_I.XPT','DBQ_I.XPT','PAQ_I.XPT','SLQ_I.XPT','SMQ_I.XPT','WHQ_I.XPT']

for f in fname[1:]: 
    s_df = pd.read_sas(f"C:/Users/lenovo/NHANES-Downloader-master/data/raw_data/2015-2016/Questionnaire/{f}", format = 'xport')
    Preprocess_df = Preprocess_df.merge(s_df, on='SEQN', how = 'outer')

In [1611]:
Preprocess_df.head(1000)

,SEQN,ALQ101,ALQ110,ALQ120Q,ALQ120U,ALQ130,ALQ141Q,ALQ141U,ALQ151,ALQ160,...,WHD080U,WHD080L,WHQ225,WHD110,WHD120,WHD130,WHD140,WHQ150,WHQ190,WHQ200
0,83732.0,1.0,NaN,1.000000e+00,2.0,1.0,5.397605e-79,NaN,2.0,NaN,...,NaN,NaN,2.0,230.0,205.0,75.0,260.0,20.0,2.0,NaN
1,83733.0,1.0,NaN,7.000000e+00,1.0,6.0,7.000000e+00,1.0,1.0,5.397605e-79,...,NaN,NaN,5.0,180.0,160.0,68.0,205.0,51.0,2.0,NaN
2,83734.0,1.0,NaN,5.397605e-79,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,1.0,224.0,165.0,70.0,240.0,46.0,2.0,NaN
3,83735.0,2.0,1.0,3.000000e+00,3.0,1.0,5.397605e-79,NaN,2.0,NaN,...,NaN,NaN,2.0,160.0,120.0,64.0,240.0,55.0,2.0,NaN
4,83736.0,2.0,1.0,1.000000e+00,3.0,1.0,5.397605e-79,NaN,2.0,NaN,...,NaN,NaN,5.0,127.0,127.0,NaN,135.0,33.0,2.0,NaN
5,83737.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,148.0,150.0,68.0,150.0,72.0,2.0,NaN
6,83741.0,1.0,NaN,3.000000e+00,2.0,8.0,2.000000e+01,3.0,1.0,2.000000e+00,...,NaN,NaN,4.0,NaN,NaN,NaN,230.0,15.0,2.0,NaN
7,83742.0,1.0,NaN,1.000000e+00,2.0,1.0,5.397605e-79,NaN,2.0,NaN,...,NaN,NaN,1.0,NaN,118.0,NaN,130.0,20.0,2.0,NaN
8,83743.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,150.0,17.0,2.0,NaN
9,83744.0,1.0,NaN,5.397605e-79,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,5.0,190.0,150.0,72.0,255.0,50.0,2.0,NaN
10,83747.0,1.0,NaN,6.000000e+00,1.0,1.0,5.397605e-79,NaN,2.0,NaN,...,NaN,NaN,1.0,175.0,180.0,NaN,205.0,46.0,2.0,NaN
11,83750.0,1.0,NaN,2.000000e+00,3.0,3.0,5.397605e-79,NaN,2.0,NaN,...,NaN,NaN,1.0,175.0,175.0,NaN,210.0,39.0,2.0,NaN
12,83752.0,1.0,NaN,1.000000e+00,1.0,2.0,1.000000e+00,2.0,2.0,5.397605e-79,...,NaN,NaN,2.0,NaN,180.0,NaN,180.0,25.0,2.0,NaN
13,83754.0,2.0,1.0,2.000000e+00,3.0,1.0,5.397605e-79,NaN,2.0,NaN,...,NaN,NaN,1.0,170.0,135.0,66.0,265.0,67.0,2.0,NaN
14,83755.0,1.0,NaN,3.000000e+00,1.0,3.0,5.397605e-79,NaN,2.0,NaN,...,NaN,NaN,1.0,218.0,218.0,73.0,242.0,63.0,2.0,NaN
15,83757.0,1.0,NaN,4.000000e+00,3.0,1.0,5.397605e-79,NaN,2.0,NaN,...,NaN,40.0,1.0,300.0,215.0,60.0,325.0,35.0,2.0,NaN
16,83759.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.0,NaN,NaN,NaN,232.0,18.0,2.0,NaN
17,83761.0,1.0,NaN,8.000000e+00,3.0,1.0,5.397605e-79,NaN,2.0,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,130.0,24.0,2.0,NaN
18,83762.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,150.0,NaN,250.0,18.0,2.0,NaN
19,83767.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,122.0,110.0,59.0,130.0,54.0,2.0,NaN
20,83769.0,1.0,NaN,3.000000e+00,3.0,2.0,5.397605e-79,NaN,2.0,NaN,...,NaN,NaN,5.0,152.0,148.0,NaN,160.0,48.0,2.0,NaN
21,83773.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.0,150.0,112.0,63.0,165.0,75.0,2.0,NaN
22,83775.0,2.0,1.0,5.397605e-79,NaN,NaN,NaN,NaN,2.0,NaN,...,NaN,NaN,2.0,155.0,130.0,63.0,185.0,66.0,2.0,NaN
23,83776.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,115.0,113.0,62.0,135.0,20.0,2.0,NaN
24,83777.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,170.0,165.0,66.0,175.0,35.0,2.0,NaN
25,83781.0,1.0,NaN,1.000000e+00,1.0,3.0,1.500000e+01,3.0,2.0,5.397605e-79,...,NaN,NaN,1.0,NaN,140.0,NaN,190.0,27.0,2.0,NaN
26,83784.0,1.0,NaN,2.000000e+00,2.0,4.0,1.000000e+00,3.0,2.0,5.397605e-79,...,NaN,NaN,5.0,NaN,NaN,NaN,180.0,16.0,2.0,NaN
27,83785.0,2.0,1.0,1.000000e+00,3.0,1.0,5.397605e-79,NaN,2.0,NaN,...,NaN,NaN,1.0,120.0,115.0,58.0,160.0,60.0,2.0,NaN
28,83786.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.0,185.0,160.0,72.0,239.0,47.0,2.0,NaN
29,83787.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,180.0,150.0,61.0,180.0,60.0,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,85392.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,245.0,16.0,2.0,NaN
971,85393.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,160.0,140.0,65.0,171.0,80.0,2.0,NaN
972,85394.0,1.0,NaN,4.000000e+00,3.0,4.0,5.397605e-79,NaN,2.0,NaN,...,NaN,NaN,5.0,NaN,270.0,NaN,290.0,25.0,2.0,NaN
973,85395.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,150.0,24.0,2.0,NaN
974,85396.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,121.0,NaN,154.0,33.0,2.0,NaN
975,85398.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,113.0,84.0,62.0,115.0,65.0,2.0,NaN
976,85399.0,1.0,NaN,2.000000e+00,3.0,4.0,2.000000e+00,3.0,1.0,5.397605e-79,...,NaN,NaN,3.0,NaN,165.0,NaN,230.0,22.0,2.0,NaN
977,85400.0,1.0,NaN,3.000000e+00,1.0,6.0,2.000000e+00,1.0,1.0,1.000000e+00,...,NaN,NaN,4.0,NaN,145.0,NaN,170.0,27.0,2.0,NaN
978,85401.0,1.0,NaN,2.000000e+00,2.0,6.0,2.000000e+00,2.0,1.0,1.000000e+00,...,NaN,NaN,1.0,300.0,260.0,NaN,350.0,30.0,2.0,NaN
979,85402.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,150.0,128.0,69.0,150.0,60.0,2.0,NaN
980,85406.0,1.0,NaN,1.000000e+00,2.0,2.0,5.397605e-79,NaN,1.0,NaN,...,NaN,NaN,5.0,160.0,135.0,68.0,198.0,60.0,2.0,NaN
981,85407.0,2.0,1.0,5.397605e-79,NaN,NaN,NaN,NaN,2.0,NaN,...,NaN,NaN,5.0,NaN,110.0,NaN,116.0,31.0,2.0,NaN
982,85408.0,1.0,NaN,1.000000e+00,2.0,1.0,5.397605e-79,NaN,2.0,NaN,...,NaN,NaN,3.0,NaN,150.0,NaN,200.0,15.0,2.0,NaN
983,85409.0,1.0,NaN,1.000000e+00,1.0,6.0,1.000000e+00,2.0,2.0,5.397605e-79,...,NaN,NaN,3.0,NaN,190.0,NaN,220.0,31.0,2.0,NaN
984,85412.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,90.0,23.0,2.0,NaN
985,85415.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,7777.0,7777.0,NaN,119.0,36.0,2.0,NaN
986,85419.0,1.0,NaN,2.000000e+00,2.0,1.0,5.397605e-79,NaN,2.0,NaN,...,NaN,NaN,5.0,NaN,145.0,NaN,196.0,32.0,2.0,NaN
987,85420.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,175.0,19.0,2.0,NaN
988,85422.0,2.0,1.0,5.397605e-79,NaN,NaN,NaN,NaN,2.0,NaN,...,NaN,NaN,1.0,180.0,180.0,65.0,209.0,72.0,2.0,NaN
989,85423.0,1.0,NaN,5.397605e-79,NaN,NaN,NaN,NaN,2.0,NaN,...,NaN,NaN,2.0,140.0,120.0,64.0,215.0,60.0,2.0,NaN
990,85424.0,2.0,1.0,5.397605e-79,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,1.0,200.0,185.0,70.0,205.0,35.0,2.0,NaN
991,85425.0,2.0,1.0,5.397605e-79,NaN,NaN,NaN,NaN,2.0,NaN,...,NaN,NaN,5.0,185.0,150.0,68.0,205.0,62.0,2.0,NaN
992,85426.0,2.0,1.0,5.397605e-79,NaN,NaN,NaN,NaN,2.0,NaN,...,NaN,NaN,1.0,130.0,130.0,NaN,175.0,31.0,2.0,NaN
993,85427.0,1.0,NaN,1.000000e+00,2.0,1.0,5.397605e-79,NaN,2.0,NaN,...,NaN,NaN,1.0,NaN,130.0,NaN,159.0,21.0,2.0,NaN
994,85429.0,2.0,1.0,5.397605e-79,NaN,NaN,NaN,NaN,2.0,NaN,...,NaN,NaN,1.0,146.0,150.0,63.0,150.0,35.0,2.0,NaN
995,85431.0,1.0,NaN,5.397605e-79,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,5.0,160.0,153.0,NaN,274.0,47.0,2.0,NaN
996,85435.0,1.0,NaN,3.000000e+00,1.0,2.0,5.397605e-79,NaN,2.0,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,170.0,22.0,2.0,NaN
997,85436.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,9999.0,NaN,112.0,30.0,2.0,NaN
998,85437.0,1.0,NaN,5.000000e+00,3.0,2.0,5.397605e-79,NaN,2.0,NaN,...,NaN,NaN,5.0,NaN,120.0,NaN,180.0,34.0,2.0,NaN
999,85438.0,1.0,NaN,2.000000e+00,1.0,3.0,1.000000e+00,2.0,2.0,5.397605e-79,...,NaN,NaN,2.0,168.0,170.0,NaN,198.0,40.0,2.0,NaN

In [1612]:
Preprocess_Demographics_df = pd.read_sas(filepath_or_buffer = 'C:/Users/lenovo/NHANES-Downloader-master/data/raw_data/2015-2016/Demographics/DEMO_I.XPT')
bins = [0,17,26,34,50,63,100]
Preprocess_Demographics_df['RIDAGEYR'] = pd.cut(Preprocess_Demographics_df['RIDAGEYR'], bins, labels = [0,1,2,3,4,5])
Age_df = Preprocess_Demographics_df[['SEQN', 'RIDAGEYR']]

In [1613]:
#DBD091--2005--2006  DBD895--2007--
#PAD590--2005--2010  PAQ710--2011-2012
#SLD012 -2015-2016  SLD010H
columns = ['SEQN', 'ALQ101','BPQ020','DBQ197','DBD895',
           'PAQ710','SLD012','SLQ050','WHD050','WHD140','WHQ150','WHQ030']
Preprocess_df = Preprocess_df[columns]

In [1614]:
Preprocess_df['ALQ101'].fillna(0, inplace=True)
Preprocess_df.loc[Preprocess_df['ALQ101'] == 9, 'ALQ101'] = 2

In [1615]:
Preprocess_df.loc[Preprocess_df['BPQ020'] == 9, 'BPQ020'] = 0
Preprocess_df.loc[Preprocess_df['BPQ020'] == 2, 'BPQ020'] = 0
Preprocess_df['BPQ020'].fillna(0, inplace=True)

In [1616]:
Preprocess_df['DBQ197'].values[Preprocess_df['DBQ197'].values < 1] = 0
Preprocess_df.loc[Preprocess_df['DBQ197'] == 2, 'DBQ197'] = 0
Preprocess_df.loc[Preprocess_df['DBQ197'] == 7, 'DBQ197'] = 0
Preprocess_df['DBQ197'].fillna(10, inplace=True)

In [1617]:
#Preprocess_df.loc[Preprocess_df['DBD091'] == 5555, 'DBD091'] = 22
#Preprocess_df.loc[Preprocess_df['DBD091'] == 6666, 'DBD091'] = 23
#Preprocess_df.loc[Preprocess_df['DBD091'] == 7777, 'DBD091'] = 24
#Preprocess_df.loc[Preprocess_df['DBD091'] == 9999, 'DBD091'] = 25
#Preprocess_df['DBD091'].fillna(26, inplace=True)
Preprocess_df.loc[Preprocess_df['DBD895'] == 5555, 'DBD895'] = 22
Preprocess_df.loc[Preprocess_df['DBD895'] == 6666, 'DBD895'] = 23
Preprocess_df.loc[Preprocess_df['DBD895'] == 7777, 'DBD895'] = 24
Preprocess_df.loc[Preprocess_df['DBD895'] == 9999, 'DBD895'] = 25
Preprocess_df['DBD895'].fillna(26, inplace=True)

In [1618]:
#Preprocess_df.loc[Preprocess_df['PAD590'] == 77, 'PAD590'] = 7
#Preprocess_df.loc[Preprocess_df['PAD590'] == 99, 'PAD590'] = 8
#Preprocess_df['PAD590'].fillna(2, inplace=True)

Preprocess_df.loc[Preprocess_df['PAQ710'] == 77, 'PAQ710'] = 7
Preprocess_df.loc[Preprocess_df['PAQ710'] == 99, 'PAQ710'] = 8
Preprocess_df['PAQ710'].fillna(2, inplace=True)

In [1619]:
Preprocess_df = pd.merge(Preprocess_df, Age_df, on="SEQN")
Preprocess_Medians = Preprocess_df.groupby('RIDAGEYR').median()
Preprocess_Medians1 = Preprocess_df.groupby('RIDAGEYR').mean()
Preprocess_Medians.head(6)

,SEQN,ALQ101,BPQ020,DBQ197,DBD895,PAQ710,SLD012,SLQ050,WHD050,WHD140,WHQ150,WHQ030
RIDAGEYR,,,,,,,,,,,,
0,88807.0,0.0,0.0,3.0,2.0,2.0,8.0,2.0,140.0,NaN,NaN,3.0
1,88708.0,1.0,0.0,1.0,3.0,2.0,8.0,2.0,155.0,170.0,20.0,3.0
2,88666.0,1.0,0.0,1.0,3.0,2.0,8.0,2.0,170.0,182.0,28.0,1.0
3,88592.0,1.0,0.0,1.0,2.0,2.0,7.5,2.0,178.0,190.0,38.0,1.0
4,88739.5,1.0,0.0,0.0,2.0,3.0,7.5,2.0,178.0,195.0,51.0,1.0
5,88613.5,1.0,1.0,1.0,1.0,3.0,8.0,2.0,172.0,185.0,62.0,2.0

In [1620]:
#Preprocess_df.loc[Preprocess_df['SLD010H'] == 77, 'SLD010H'] = Preprocess_df['RIDAGEYR'].map(Preprocess_Medians['SLD010H'])
#Preprocess_df.loc[Preprocess_df['SLD010H'] == 99, 'SLD010H'] = Preprocess_df['RIDAGEYR'].map(Preprocess_Medians['SLD010H'])
#Preprocess_df.loc[Preprocess_df['SLD010H'].isna(),'SLD010H'] = Preprocess_df['RIDAGEYR'].map(Preprocess_Medians1['SLD010H'])

Preprocess_df.loc[Preprocess_df['SLD012'] == 77, 'SLD012'] = Preprocess_df['RIDAGEYR'].map(Preprocess_Medians['SLD012'])
Preprocess_df.loc[Preprocess_df['SLD012'] == 99, 'SLD012'] = Preprocess_df['RIDAGEYR'].map(Preprocess_Medians['SLD012'])
Preprocess_df.loc[Preprocess_df['SLD012'].isna(),'SLD012'] = Preprocess_df['RIDAGEYR'].map(Preprocess_Medians1['SLD012'])

In [1605]:
Preprocess_df.loc[Preprocess_df['SLQ050'] == 7, 'SLQ050'] = 1
Preprocess_df.loc[Preprocess_df['SLQ050'] == 9, 'SLQ050'] = 2
Preprocess_df['SLQ050'].fillna(2, inplace=True)

In [1606]:
#Preprocess_df['SMQ020'].fillna(3, inplace=True)
#Preprocess_df.loc[Preprocess_df['SMQ020'] == 7, 'SMQ020'] = 1
#Preprocess_df.loc[Preprocess_df['SMQ020'] == 9, 'SMQ020'] = 1
#Preprocess_df.loc[Preprocess_df['SMQ020'] == 2, 'SMQ020'] = 0
#Preprocess_df['SMQ020'].fillna(0, inplace=True)

In [1140]:
'SMQ040','SMQ020','WHD050','WHD140','WHQ150','WHQ030'

('SMQ040', 'SMQ020', 'WHD050', 'WHD140', 'WHQ150', 'WHQ030')

In [1141]:
import numpy as np

In [1142]:
Preprocess_df.loc[Preprocess_df['WHD050'] == 7777, 'WHD050'] = Preprocess_df['RIDAGEYR'].map(Preprocess_Medians['WHD050'])
Preprocess_df.loc[Preprocess_df['WHD050'] == 9999, 'WHD050'] = Preprocess_df['RIDAGEYR'].map(Preprocess_Medians['WHD050'])
Preprocess_df.loc[Preprocess_df['WHD050'].isna(),'WHD050'] = Preprocess_df['RIDAGEYR'].map(Preprocess_Medians['WHD050'])

In [1143]:
Preprocess_df.loc[Preprocess_df['WHD140'] == 7777, 'WHD140'] = Preprocess_df['RIDAGEYR'].map(Preprocess_Medians1['WHD140'])
Preprocess_df.loc[Preprocess_df['WHD140'] == 9999, 'WHD140'] = Preprocess_df['RIDAGEYR'].map(Preprocess_Medians1['WHD140'])
Preprocess_df.loc[Preprocess_df['WHD140'].isna(),'WHD140'] = Preprocess_df['WHD140'].mean()

In [1144]:
Preprocess_df.loc[Preprocess_df['WHQ150'] == 9999, 'WHQ150'] = Preprocess_df['RIDAGEYR'].map(Preprocess_Medians1['WHQ150'])
Preprocess_df.loc[Preprocess_df['WHQ150'].isna(),'WHQ150'] = Preprocess_df['WHQ150'].mean()

In [1145]:
Preprocess_df.loc[Preprocess_df['WHQ030'] == 7, 'WHQ030'] = 1
Preprocess_df.loc[Preprocess_df['WHQ030'] == 9, 'WHQ030'] = 3
Preprocess_df['WHQ030'].fillna(Preprocess_df['RIDAGEYR'].map(Preprocess_Medians['WHQ030']), inplace=True)

In [1146]:
Preprocess_df.to_csv('2015_2016_qu.csv')

# Target

In [1398]:
Preprocess_Demographics_df = pd.read_sas(filepath_or_buffer = 'C:/Users/lenovo/NHANES-Downloader-master/data/raw_data/2005-2006/Demographics/DEMO_D.XPT')
bins = [0,17,26,34,50,63,100]
Preprocess_Demographics_df['RIDAGEYR'] = pd.cut(Preprocess_Demographics_df['RIDAGEYR'], bins, labels = [0,1,2,3,4,5])
Age_df = Preprocess_Demographics_df[['SEQN', 'RIDAGEYR']]

In [1399]:
target_df = pd.read_sas(filepath_or_buffer = 'C:/Users/lenovo/NHANES-Downloader-master/data/raw_data/2005-2006/Questionnaire/DIQ_D.XPT')
diabetes_columns = ['SEQN', 'DIQ010', 'DIQ160', 'DIQ170']
target_df = target_df[diabetes_columns]
target_df = target_df.rename(columns={'DIQ010': 'Diabetes', 'DIQ160': 'Prediabetes', 'DIQ170': 'At Risk'})
print ('Target Shape: ' + str(target_df.shape))
target_df.head()

Target Shape: (9822, 4)

      SEQN  Diabetes  Prediabetes  At Risk
0  31128.0       2.0          NaN      NaN
1  31129.0       2.0          2.0      2.0
2  31130.0       2.0          2.0      2.0
3  31131.0       2.0          2.0      1.0
4  31132.0       1.0          NaN      NaN

In [1400]:
target_df.loc[target_df['Diabetes'] == 1.0, 'Diabetes'] = 99
target_df.loc[target_df['Diabetes'] == 2.0, 'Diabetes'] = 0
target_df.loc[target_df['Diabetes'] == 3.0, 'Diabetes'] = 10
target_df.loc[target_df['Diabetes'] == 9.0, 'Diabetes'] = 0
target_df.head()

      SEQN  Diabetes  Prediabetes  At Risk
0  31128.0       0.0          NaN      NaN
1  31129.0       0.0          2.0      2.0
2  31130.0       0.0          2.0      2.0
3  31131.0       0.0          2.0      1.0
4  31132.0      99.0          NaN      NaN

In [1401]:
target_df['Diabetes'].value_counts()

0.0     9198
99.0     521
10.0     103
Name: Diabetes, dtype: int64

In [1402]:
target_df['Prediabetes'].fillna(0, inplace = True)
target_df.loc[target_df['Prediabetes'] == 9, 'Prediabetes'] = 0
target_df.loc[target_df['Prediabetes'] == 2, 'Prediabetes'] = 0
target_df.loc[target_df['Prediabetes'] == 1, 'Prediabetes'] = 5
target_df.head()

      SEQN  Diabetes  Prediabetes  At Risk
0  31128.0       0.0          0.0      NaN
1  31129.0       0.0          0.0      2.0
2  31130.0       0.0          0.0      2.0
3  31131.0       0.0          0.0      1.0
4  31132.0      99.0          0.0      NaN

In [1403]:
target_df['Prediabetes'].value_counts()

0.0    9633
5.0     189
Name: Prediabetes, dtype: int64

In [1404]:
target_df['At Risk'].fillna(0, inplace = True)
target_df.loc[target_df['At Risk'] == 9, 'At Risk'] = 0
target_df.loc[target_df['At Risk'] == 2, 'At Risk'] = 0
target_df.loc[target_df['At Risk'] == 1, 'At Risk'] = 3
target_df['At Risk'].value_counts()
target_df['Proxy Target'] = target_df['Diabetes'] + target_df['Prediabetes'] + target_df['At Risk']
target_df.head()

      SEQN  Diabetes  Prediabetes  At Risk  Proxy Target
0  31128.0       0.0          0.0      0.0           0.0
1  31129.0       0.0          0.0      0.0           0.0
2  31130.0       0.0          0.0      0.0           0.0
3  31131.0       0.0          0.0      3.0           3.0
4  31132.0      99.0          0.0      0.0          99.0

In [1405]:
target_df['Prediabetes'].value_counts()

0.0    9633
5.0     189
Name: Prediabetes, dtype: int64

In [1406]:
target_df['Proxy Target'] = target_df['Diabetes'] + target_df['Prediabetes'] + target_df['At Risk']

In [1407]:
target_df.head()

      SEQN  Diabetes  Prediabetes  At Risk  Proxy Target
0  31128.0       0.0          0.0      0.0           0.0
1  31129.0       0.0          0.0      0.0           0.0
2  31130.0       0.0          0.0      0.0           0.0
3  31131.0       0.0          0.0      3.0           3.0
4  31132.0      99.0          0.0      0.0          99.0

In [1408]:
target_df['Proxy Target'].value_counts()

0.0     8313
3.0      696
99.0     521
5.0      100
8.0       89
10.0      58
13.0      45
Name: Proxy Target, dtype: int64

In [1409]:
#sns.distplot(target_df['Proxy Target'])
#plt.legend()
#plt.title("Distribution of PT")
#plt.ylabel('%')

In [1410]:
target_df.loc[target_df['Proxy Target'] == 99, 'Proxy Target'] = 1
target_df.loc[target_df['Proxy Target'] == 13, 'Proxy Target'] = 2
target_df.loc[target_df['Proxy Target'] == 10, 'Proxy Target'] = 2
target_df.loc[target_df['Proxy Target'] == 8, 'Proxy Target'] = 2
target_df.loc[target_df['Proxy Target'] == 5, 'Proxy Target'] = 2
target_df.loc[target_df['Proxy Target'] == 3, 'Proxy Target'] = 2
target_df.loc[target_df['Proxy Target'] == 0, 'Proxy Target'] = 3

In [1411]:
target_df = target_df.rename(columns={'Proxy Target': 'Target'})

In [1412]:
target_df['Target'].value_counts()

3.0    8313
2.0     988
1.0     521
Name: Target, dtype: int64

In [1413]:
final_target_df = target_df[['SEQN','Target']]
final_target_df.to_csv('2005_2006_Target.csv')

# merge

In [1584]:
#DEM05 = pd.read_csv("C:/Users/lenovo/NHANES-Downloader-master/data/csv_data/2005-2006/Demographics/2005_2006_Demographics.csv",encoding = 'latin-1')
#DEM07 = pd.read_csv("C:/Users/lenovo/NHANES-Downloader-master/data/csv_data/2007-2008/Demographics/2007_2008_Demographics.csv",encoding = 'latin-1')
#DEM09 = pd.read_csv("C:/Users/lenovo/NHANES-Downloader-master/data/csv_data/2009-2010/Demographics/2009_2010_Demographics.csv",encoding = 'latin-1')
DEM011 = pd.read_csv("C:/Users/lenovo/NHANES-Downloader-master/data/csv_data/2011-2012/Demographics/2011_2012_Demographics.csv",encoding = 'latin-1')
#DEM013 = pd.read_csv("C:/Users/lenovo/NHANES-Downloader-master/data/csv_data/2013-2014/Demographics/2013_2014_Demographics.csv",encoding = 'latin-1')
#DEM015 = pd.read_csv("C:/Users/lenovo/NHANES-Downloader-master/data/csv_data/2015-2016/Demographics/2015_2016_Demographics.csv",encoding = 'latin-1')

#NUT05 = pd.read_csv("C:/Users/lenovo/NHANES-Downloader-master/data/csv_data/2005-2006/Dietary/2005_2006_Average_Days_Nutrition.csv",encoding = 'latin-1')
#NUT07 = pd.read_csv("C:/Users/lenovo/NHANES-Downloader-master/data/csv_data/2007-2008/Dietary/2007_2008_Average_Days_Nutrition.csv",encoding = 'latin-1')
#NUT09 = pd.read_csv("C:/Users/lenovo/NHANES-Downloader-master/data/csv_data/2009-2010/Dietary/2009_2010_Average_Days_Nutrition.csv",encoding = 'latin-1')
NUT011 = pd.read_csv("C:/Users/lenovo/NHANES-Downloader-master/data/csv_data/2011-2012/Dietary/2011_2012_Average_Days_Nutrition.csv",encoding = 'latin-1')
#NUT013 = pd.read_csv("C:/Users/lenovo/NHANES-Downloader-master/data/csv_data/2013-2014/Dietary/2013_2014_Average_Days_Nutrition.csv",encoding = 'latin-1')
#NUT015 = pd.read_csv("C:/Users/lenovo/NHANES-Downloader-master/data/csv_data/2015-2016/Dietary/2015_2016_Average_Days_Nutrition.csv",encoding = 'latin-1')

#QUE05 = pd.read_csv("C:/Users/lenovo/NHANES-Downloader-master/data/csv_data/2005-2006/Questionnaire/2005_2006_qu.csv",encoding = 'latin-1')
#TAR05 = pd.read_csv("C:/Users/lenovo/NHANES-Downloader-master/data/csv_data/2005-2006/Questionnaire/2005_2006_Target.csv",encoding = 'latin-1')

#QUE07 = pd.read_csv("C:/Users/lenovo/NHANES-Downloader-master/data/csv_data/2007-2008/Questionnaire/2007_2008_qu.csv",encoding = 'latin-1')
#TAR07 = pd.read_csv("C:/Users/lenovo/NHANES-Downloader-master/data/csv_data/2007-2008/Questionnaire/2007_2008_Target.csv",encoding = 'latin-1')

#QUE09 = pd.read_csv("C:/Users/lenovo/NHANES-Downloader-master/data/csv_data/2009-2010/Questionnaire/2009_2010_qu.csv",encoding = 'latin-1')
#TAR09 = pd.read_csv("C:/Users/lenovo/NHANES-Downloader-master/data/csv_data/2009-2010/Questionnaire/2009_2010_Target.csv",encoding = 'latin-1')

QUE011 = pd.read_csv("C:/Users/lenovo/NHANES-Downloader-master/data/csv_data/2011-2012/Questionnaire/2011_2012_qu.csv",encoding = 'latin-1')
TAR011 = pd.read_csv("C:/Users/lenovo/NHANES-Downloader-master/data/csv_data/2011-2012/Questionnaire/2011_2012_Target.csv",encoding = 'latin-1')

#QUE013 = pd.read_csv("C:/Users/lenovo/NHANES-Downloader-master/data/csv_data/2013-2014/Questionnaire/2013_2014_qu.csv",encoding = 'latin-1')
#TAR013 = pd.read_csv("C:/Users/lenovo/NHANES-Downloader-master/data/csv_data/2013-2014/Questionnaire/2013_2014_Target.csv",encoding = 'latin-1')

#QUE015 = pd.read_csv("C:/Users/lenovo/NHANES-Downloader-master/data/csv_data/2015-2016/Questionnaire/2015_2016_qu.csv",encoding = 'latin-1')
#TAR015 = pd.read_csv("C:/Users/lenovo/NHANES-Downloader-master/data/csv_data/2015-2016/Questionnaire/2015_2016_Target.csv",encoding = 'latin-1')

In [1585]:
#SEQN	URXUMA	URXUMS	URXUCR	URXCRS	BMXWT	BMXHT	BMXBMI	BMXWAIST	BPXPLS	BPXPULS	BPXSY2	BPXDI2	LBXGH	LBDGLUSI	LBDGLTSI	LBDTCSI	URXUHG	
#URXUBA	URXUCD	URXUCO	URXUCS	URXUMO	URXUPB	URXUSB	URXUTL	URXUTU	URXUUR	RIAGENDR	RIDAGEYR_x	RIDRETH3	DMDHRMAR	INDFMIN2	INDFMPIR	
#DMDHREDU	DR3TKCAL	DR3TPROT	DR3TCARB	DR3TSUGR	DR3TFIBE	DR3TTFAT	DR3TSFAT	DR3TMFAT	DR3TPFAT	DR3TCHOL	DR3TATOC	DR3TATOA	DR3TRET	DR3TVARA	
#DR3TACAR	DR3TBCAR	DR3TCRYP	DR3TLYCO	DR3TLZ	DR3TVB1	DR3TVB2	DR3TNIAC	DR3TVB6	DR3TFOLA	DR3TFA	DR3TFF	DR3TFDFE	DR3TCHL	DR3TVB12	DR3TB12A	DR3TVC	
#DR3TVK	DR3TCALC	DR3TPHOS	DR3TMAGN	DR3TIRON	DR3TZINC	DR3TCOPP	DR3TSODI	DR3TPOTA	DR3TSELE	DR3TCAFF	DR3TTHEO	DR3TALCO	DR3TMOIS	DR3TS040	
#DR3TS060	DR3TS080	DR3TS100	DR3TS120	DR3TS140	DR3TS160	DR3TS180	DR3TM161	DR3TM181	DR3TM201	DR3TM221	DR3TP182	DR3TP183	DR3TP184	
#DR3TP204	DR3TP205	DR3TP225	DR3TP226	DR3_320Z	ALQ101	BPQ020	DBQ197	DBD895	PAQ710	SLD012	SLQ050	WHD050	WHD140	WHQ150	WHQ030	RIDAGEYR_y	Target
Preprocess_csv = pd.read_csv("C:/Users/lenovo/NHANES-Downloader-master/data/csv_data/2011-2012/Examination/2011_2012_ALB_CR.csv",encoding = 'latin-1')

fname = ['2011_2012_ALB_CR.csv','2011_2012_BMX_G.csv',
         '2011_2012_BPX_G.csv','2011_2012_GHB_G.csv','2011_2012_GLU_G.csv','2011_2012_OGTT_G.csv',
        '2011_2012_TCHOL_G.csv','2011_2012_UHG_G.csv','2011_2012_UHM_G.csv']
#fname = ['2013_2014_ALB_CR.csv','2013_2014_BMX_H.csv',
#         '2013_2014_BPX_H.csv','2013_2014_GHB_H.csv','2013_2014_GLU_H.csv','2013_2014_OGTT_H.csv',
#         '2013_2014_TCHOL_H.csv','2013_2014_UHG_H.csv','2013_2014_UHM_H.csv']

for f in fname[1:]: 
    s_csv = pd.read_csv(f"C:/Users/lenovo/NHANES-Downloader-master/data/csv_data/2011-2012/Examination/{f}", encoding = 'latin-1')
    Preprocess_csv = Preprocess_csv.merge(s_csv, on='SEQN', how = 'outer')

In [1586]:
Preprocess_csv.head(100)

,SEQN,URXUMA,URXUMS,URXUCR,URXCRS,BMXWT,BMXHT,BMXBMI,BMXWAIST,BPXPLS,...,URXUBA,URXUCD,URXUCO,URXUCS,URXUMO,URXUPB,URXUSB,URXUTL,URXUTU,URXUUR
0,62161,5.20000,5.20000,134.000000,11845.60000,69.2,172.3,23.300000,81.0,82.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,62163,21.40000,21.40000,182.000000,16088.80000,49.4,168.9,17.300000,64.6,72.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,62164,14.20000,14.20000,166.000000,14674.40000,67.2,170.1,23.200000,80.1,82.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,62165,25.50000,25.50000,41.000000,3624.40000,69.1,159.4,27.200000,86.7,70.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,62166,37.00000,37.00000,117.000000,10342.80000,28.8,133.4,16.200000,59.8,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,62168,6.80000,6.80000,91.000000,8044.40000,23.6,123.6,15.400000,54.4,78.0,...,3.18,0.040,0.510,6.53,116.0,0.33,0.076,0.181,0.435,0.0640
6,62169,7.60000,7.60000,150.000000,13260.00000,54.6,164.8,20.100000,69.6,72.0,...,0.58,0.114,0.305,11.90,142.0,0.47,0.029,0.209,0.640,0.0062
7,62170,37.80000,37.80000,154.000000,13613.60000,63.5,187.0,18.200000,69.4,62.0,...,7.36,0.150,2.640,4.74,27.9,0.22,0.029,0.364,0.152,0.0023
8,62171,4.70000,4.70000,109.000000,9635.60000,58.2,171.0,19.900000,71.6,56.0,...,6.34,0.061,0.608,2.27,93.4,0.22,0.029,0.123,0.186,0.0208
9,62172,8.20000,8.20000,157.000000,13878.80000,98.6,172.0,33.300000,120.4,80.0,...,0.53,0.552,0.214,8.04,57.6,0.83,1.140,0.288,0.719,0.0141
10,62174,2.70000,2.70000,87.000000,7690.80000,95.8,168.1,33.900000,116.5,56.0,...,7.62,0.119,0.246,7.42,24.1,1.10,0.029,0.139,0.037,0.0023
11,62176,6.30000,6.30000,96.000000,8486.40000,68.7,171.6,23.300000,89.4,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,62177,10.00000,10.00000,123.000000,10873.20000,57.3,168.9,20.100000,81.1,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,62178,27.60000,27.60000,282.000000,24928.80000,85.9,173.5,28.500000,112.5,68.0,...,2.01,0.665,5.970,6.15,103.0,0.70,0.049,0.153,0.164,0.0058
14,62179,18.00000,18.00000,204.000000,18033.60000,91.4,182.1,27.600000,96.5,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,62180,1.90000,1.90000,34.000000,3005.60000,89.0,178.7,27.900000,103.1,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,62181,5.50000,5.50000,29.000000,2563.60000,29.6,134.5,16.400000,61.6,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,62183,15.40000,15.40000,76.000000,6718.40000,26.6,128.6,16.100000,57.0,78.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,62184,28.00000,28.00000,304.000000,26873.60000,68.9,176.6,22.100000,78.6,70.0,...,3.30,0.210,0.432,6.94,74.2,0.68,0.096,0.377,0.098,0.0565
19,62185,43.89162,43.89162,121.657716,10754.54213,56.8,170.0,19.700000,69.4,82.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,62186,9.90000,9.90000,117.000000,10342.80000,63.5,166.4,22.900000,76.0,86.0,...,1.91,0.040,0.417,2.89,34.6,0.24,0.043,0.094,0.171,0.0066
21,62187,2.70000,2.70000,16.000000,1414.40000,30.8,137.0,16.400000,63.4,96.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,62189,7.20000,7.20000,82.000000,7248.80000,54.4,156.0,22.400000,80.2,84.0,...,0.16,0.167,0.634,4.43,30.9,0.18,0.053,0.132,0.031,0.0023
23,62190,14.80000,14.80000,46.000000,4066.40000,38.5,150.5,17.000000,64.0,76.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,62191,30.60000,30.60000,67.000000,5922.80000,75.7,163.7,28.248704,100.2,56.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,62192,17.60000,17.60000,353.000000,31205.20000,62.8,153.5,26.700000,83.1,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,62193,10.80000,10.80000,315.000000,27846.00000,98.4,185.7,28.500000,97.2,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,62194,14.40000,14.40000,104.000000,9193.60000,26.7,134.7,14.700000,54.9,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,62195,3.00000,3.00000,136.000000,12022.40000,97.4,185.9,28.200000,99.0,56.0,...,0.54,0.243,0.116,3.43,27.6,0.28,0.029,0.198,0.071,0.0048
29,62197,30.50000,30.50000,137.000000,12110.80000,63.0,167.6,22.400000,80.7,74.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,62253,83.50000,83.50000,170.000000,15028.00000,53.3,175.9,17.200000,69.8,48.0,...,1.24,0.145,0.439,6.23,54.1,0.35,0.098,0.296,0.081,0.0121
71,62254,2.70000,2.70000,87.000000,7690.80000,50.0,160.6,19.400000,67.2,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,62255,2.70000,2.70000,65.000000,5746.00000,71.0,161.8,27.100000,97.7,70.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,62256,22.00000,22.00000,154.000000,13613.60000,77.8,173.1,26.000000,94.8,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,62258,7.60000,7.60000,226.000000,19978.40000,87.9,168.3,31.000000,111.2,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,62259,4.90000,4.90000,149.000000,13171.60000,135.5,180.2,41.700000,138.4,72.0,...,1.06,0.354,0.428,2.95,21.6,0.52,0.185,0.172,0.224,0.0642
76,62260,590.00000,590.00000,178.000000,15735.20000,31.5,145.5,14.900000,61.0,72.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,62261,19.40000,19.40000,315.000000,27846.00000,72.3,159.0,28.600000,98.9,74.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,62264,18.70000,18.70000,72.000000,6364.80000,86.5,166.7,31.100000,112.0,60.0,...,1.59,0.190,0.164,4.72,40.0,0.47,0.069,0.120,0.042,0.0023
79,62265,99.00000,99.00000,82.000000,7248.80000,99.3,177.9,31.400000,110.0,76.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,62266,105.00000,105.00000,61.000000,5392.40000,52.2,177.2,16.600000,74.6,112.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,62267,3.50000,3.50000,71.000000,6276.40000,131.6,173.1,43.900000,143.2,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,62268,3.20000,3.20000,50.000000,4420.00000,46.3,155.6,19.100000,71.9,82.0,...,0.82,0.108,0.630,2.24,19.3,0.39,0.029,0.084,0.018,0.0036
83,62269,8.90000,8.90000,298.000000,26343.20000,68.4,173.1,22.800000,74.3,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,62270,4.70000,4.70000,176.000000,15558.40000,73.0,150.4,32.300000,88.8,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,62271,4.10000,4.10000,41.000000,3624.40000,45.5,137.5,24.100000,79.1,78.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,62272,6.40000,6.40000,162.000000,14320.80000,41.3,140.5,20.900000,67.7,84.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,62273,27.00000,27.00000,124.000000,10961.60000,85.1,168.3,30.000000,103.6,108.0,...,4.74,0.083,0.530,5.32,42.2,0.42,0.029,0.286,0.038,0.0093
88,62275,4.50000,4.50000,91.000000,8044.40000,57.2,162.0,21.800000,75.6,68.0,...,3.50,0.227,0.257,5.46,23.7,0.16,0.059,0.230,0.018,0.0072
89,62276,8.80000,8.80000,119.000000,10519.60000,23.0,131.3,13.300000,51.8,96.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,62277,4.90000,4.90000,123.000000,10873.20000,67.5,164.2,25.000000,87.5,94.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,62278,4.30000,4.30000,79.000000,6983.60000,68.6,155.7,28.300000,91.9,86.0,...,1.29,0.376,0.253,4.59,31.5,0.48,0.029,0.196,0.051,0.0044
92,62279,18.20000,18.20000,252.000000,22276.80000,58.8,164.0,21.900000,85.3,84.0,...,0.78,2.160,0.352,5.73,119.0,0.49,0.161,0.199,0.173,0.0205
93,62280,36.00000,36.00000,179.000000,15823.60000,62.4,160.1,24.300000,96.2,76.0,...,1.76,2.460,0.461,4.78,40.3,0.75,0.073,0.109,0.088,0.0177
94,62281,18.10000,18.10000,267.000000,23602.80000,55.2,157.4,22.300000,73.4,76.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,62282,5.50000,5.50000,41.000000,3624.40000,75.0,178.0,23.700000,90.0,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,62284,7.80000,7.80000,116.000000,10254.40000,68.9,163.9,25.600000,100.2,80.0,...,0.28,0.429,0.308,8.57,79.8,0.48,0.050,0.278,0.043,0.0023
97,62285,2.50000,2.50000,25.000000,2210.00000,78.9,154.5,33.100000,101.7,82.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,62286,21.60000,21.60000,230.000000,20332.00000,124.5,174.3,41.000000,130.3,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,62287,4.40000,4.40000,132.000000,11668.80000,74.0,166.2,26.800000,100.2,64.0,...,2.54,0.558,0.372,6.59,46.2,0.69,0.096,0.267,0.080,0.0157

In [1587]:
t_csv = pd.merge(Preprocess_csv,DEM011,on='SEQN',how = 'outer')
t1_csv = pd.merge(t_csv,NUT011,on='SEQN',how = 'outer')
t2_csv = pd.merge(t1_csv,QUE011,on='SEQN',how = 'outer')
Finally_csv = pd.merge(t2_csv,TAR011,on='SEQN',how = 'outer')

In [1588]:
Finally_csv.head()

,SEQN,URXUMA,URXUMS,URXUCR,URXCRS,BMXWT,BMXHT,BMXBMI,BMXWAIST,BPXPLS,...,PAQ710,SLD010H,SLQ050,WHD050,WHD140,WHQ150,WHQ030,RIDAGEYR_y,Unnamed: 0_y,Target
0,62161,5.2,5.2,134.0,11845.6,69.2,172.3,23.3,81.0,82.0,...,3.0,8.000000,2.0,160.000000,194.210137,649.949424,3.0,1,0.0,3.0
1,62163,21.4,21.4,182.0,16088.8,49.4,168.9,17.3,64.6,72.0,...,2.0,7.773463,2.0,467.718543,194.210137,649.949424,3.0,0,2.0,3.0
2,62164,14.2,14.2,166.0,14674.4,67.2,170.1,23.2,80.1,82.0,...,2.0,8.000000,1.0,160.000000,172.000000,38.000000,3.0,3,3.0,3.0
3,62165,25.5,25.5,41.0,3624.4,69.1,159.4,27.2,86.7,70.0,...,5.0,7.773463,2.0,467.718543,194.210137,649.949424,3.0,0,4.0,3.0
4,62166,37.0,37.0,117.0,10342.8,28.8,133.4,16.2,59.8,90.0,...,2.0,7.773463,2.0,467.718543,194.210137,649.949424,3.0,0,5.0,3.0

In [1589]:
Finally_csv = Finally_csv.drop(Finally_csv[Finally_csv.isnull().sum(axis = 1) > 0].index, axis = 0)

In [1590]:
Finally_csv.to_csv('2011_2012_Finally.csv')